---
layout: default
banner: /Images/iocquote.jpg
---
{% include fancyline.html %}
<section id="firstsection" class=" reverser">
{% for quotes in site.quotes %}
<div class="grid-middle-spaceAround">
  <div class="bacground-image col-5 quotes-pic" style="background-image:url('{{quotes.pic}}')">
  </div>
  <div class="col-5">
    <h2>{{quotes.title}}</h2>
    <p>{{quotes.quote}}</p>
    <p>{{quotes.author}}</p>
  </div>
</div>
{% endfor %}
</section>
{% include fancyline.html %}
<div class="centerText col-12">
  <a href="#Pin"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
</div>

<section id="Pin" class ="Pinterest">
  <script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js">
  </script>
  <a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="200" data-pin-scale-width="80" href="https://www.pinterest.co.uk/amzb/triggers-of-thought/"></a>
</section>
