---
layout: default
---
<section class="grid">
  <div class="col-7">
    <h2>{{page.subtitle}}</h2>
    {{content}}
  </div>
  <div class="col-3">
    <img src="{{page.sidebarpic}}" alt="{{page.sidebaralt}}"/>
  </div>
</section>
{% include fancyline.html %}
<section id="blog" class="pages">
<div class="border grid">
<h2 class="col-12">blogs</h2>
  {% for post in site.posts limit:3 %}
  <a class="col-4_sm-12" href="{{post.url}}">
    <div class="blogpic centerText flex-center" style="background-image:url('{{post.pagepic}}')">
      <h2>{{post.title}}</h2>
      <!-- <h3>{{post.linkname}}</h3> -->
    </div>
  </a>
  {% endfor %}
  </div>
</section>
